# Common
.idea
.DS_Store

# Logs
logs
*.log

# Dependency directory
node_modules
bower_components

# Debug log from npm
npm-debug.log

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# .gitignore - the files to not push via git
lib

# .npmignore - the files to not push to NPM
src/