# Credentials & Secrets
.env*
*.key
*.pem

# Common
.idea
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log

# Dependency directory
node_modules
bower_components

# Build & Output
lib
dist/
build/
out/
coverage/
.nyc_output/

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~.env
dist
build
